
@{
    ViewBag.Title = "otros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>otros</h2>

<form>
    <div>
        <label>Nombre</label>
        <input type="text" id="nombre" />
        <button>Enviar</button>
    </div>
</form>

